@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    /* Light gray background */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    background-color: #fff;
    /* White header background */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    text-align: center;
}

.navbar-logo img {
    width: 250px;
    height: auto;
}

.navigation {
    margin-top: 20px;
}

.navigation a {
    color: #4285f4;
    /* Google blue */
    font-size: 20px;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #1a73e8;
    /* Darker blue on hover */
}

h1 {
    font-size: 28px;
    color: #333;
    margin: 20px 0;
}

h3 {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
}

.update-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.update-container:hover {
    transform: translateY(-5px);
    /* Add a slight hover effect */
}

.update-item {
    margin-bottom: 20px;
}

.update-item h2 {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.update-item h2::after {
    content: '\25BC';
    /* Downward arrow icon */
    margin-left: 5px;
}

.update-item p {
    font-size: 16px;
    color: #666;
    display: none;
}

/* Responsive CSS */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .navbar-logo img {
        width: 120px;
    }

    .navigation a {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    .update-container {
        padding: 15px;
    }

    .update-item h2 {
        font-size: 18px;
    }
}
